<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - Train to Trade</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="~/Scripts/site.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Train-to-Trade", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12 banner-holder">
                <div id="tradeShow">
                    <img src="~/Content/images/banner/Trade_5.jpg" class="img-responsive center-block product-image" style="background-size: cover; width: 100%; height: 100%;" />
                </div>
                <div id="motivationQoute" class="plus-image " style="background-color: aqua; color: black; font-family: -apple-system; padding: 5px;">Train To Trade
                </div>
            </div>
        </div>
        

        @RenderBody()
        <hr />
        <div class="row">
            <div class="col-lg-9">
                <footer>
                    <p>&copy; @DateTime.Now.Year -<a href="#">Softy-Soft Technologies</a></p>
                </footer>
            </div>
            <div class="col-lg-3">
                <div id="footer-bottom-social-icon">
                    <a href="#" class="col-xs-2" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#" target="_blank"><img src="/images/new_design/twitter.png" ></a>
                    <a href="#" target="_blank"><img src="/images/new_design/youTube.ico" ></a>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
<script>
    $(function () {
        count = 0;
        wordsArray = ["Beta", "Gamma", "Delta", "Alpha"];
        setInterval(function () {
            count++;
            $("#motivationQoute").fadeOut(400, function () {
                $(this).text(wordsArray[count % wordsArray.length]).fadeIn(400);
            });
        }, 9000);
    });
</script>
</body>
</html>
